<div class="fc-templatedetail">
  <nz-descriptions nzTitle="基本信息">
    <nz-descriptions-item nzTitle="姓名">青成</nz-descriptions-item>
    <nz-descriptions-item nzTitle="电话">18100000000</nz-descriptions-item>
    <nz-descriptions-item nzTitle="居住地">中国, 北京</nz-descriptions-item>
    <nz-descriptions-item nzTitle="备注">我是一名前端开发工程师</nz-descriptions-item>
    <nz-descriptions-item nzTitle="地址">
      现居于中国，北京
    </nz-descriptions-item>
  </nz-descriptions>
  <nz-descriptions nzTitle="基本信息">
    <nz-descriptions-item nzTitle="姓名">青成</nz-descriptions-item>
    <nz-descriptions-item nzTitle="电话">18100000000</nz-descriptions-item>
    <nz-descriptions-item nzTitle="居住地">中国, 北京</nz-descriptions-item>
    <nz-descriptions-item nzTitle="备注">我是一名前端开发工程师</nz-descriptions-item>
    <nz-descriptions-item nzTitle="地址">
      现居于中国，北京
    </nz-descriptions-item>
  </nz-descriptions>
  <nz-descriptions nzTitle="基本信息">
    <nz-descriptions-item nzTitle="姓名">青成</nz-descriptions-item>
    <nz-descriptions-item nzTitle="电话">18100000000</nz-descriptions-item>
    <nz-descriptions-item nzTitle="居住地">中国, 北京</nz-descriptions-item>
    <nz-descriptions-item nzTitle="备注">我是一名前端开发工程师</nz-descriptions-item>
    <nz-descriptions-item nzTitle="地址">
      现居于中国，北京
    </nz-descriptions-item>
  </nz-descriptions>
  <nz-descriptions nzTitle="基本信息">
    <nz-descriptions-item nzTitle="姓名">青成</nz-descriptions-item>
    <nz-descriptions-item nzTitle="电话">18100000000</nz-descriptions-item>
    <nz-descriptions-item nzTitle="居住地">中国, 北京</nz-descriptions-item>
    <nz-descriptions-item nzTitle="备注">我是一名前端开发工程师</nz-descriptions-item>
    <nz-descriptions-item nzTitle="地址">
      现居于中国，北京
    </nz-descriptions-item>
  </nz-descriptions>
  <nz-descriptions nzTitle="基本信息">
    <nz-descriptions-item nzTitle="姓名">青成</nz-descriptions-item>
    <nz-descriptions-item nzTitle="电话">18100000000</nz-descriptions-item>
    <nz-descriptions-item nzTitle="居住地">中国, 北京</nz-descriptions-item>
    <nz-descriptions-item nzTitle="备注">我是一名前端开发工程师</nz-descriptions-item>
    <nz-descriptions-item nzTitle="地址">
      现居于中国，北京
    </nz-descriptions-item>
  </nz-descriptions>
</div>
